.card-body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.card-container {
  margin: 20px;
  width: 250px;
  height: 525px;
  perspective: 250px;
}

.card {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}


.front, .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
}

.front {
  margin-left: -100px;
}

.back {
  margin-left: -100px;
  transform: rotateY(180deg);
  padding: 0 10px 10px 10px;
}

.project-screenshot {
  width: 250px;
  height: auto;
}

.project-name:hover {
  text-decoration: underline;
}

.link-section {
  display: flex;
  justify-content: center;
}

.github {
  width: 40px;
  height: auto;
}
