.card-body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container {
  margin: 20px;
  width: 250px;
  height: 500px;
  perspective: 250px;
}

.card {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}


.front, .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
}

.front {
  margin-left: -100px;
}

.back {
  margin-left: -100px;
  transform: rotateY(180deg);
  padding: 10px;
}

.project-screenshot {
  width: 250px;
  height: auto;
}

.github {
  width: 50px;
  height: auto;
}
